
Worker.Endpoints=tcp -p 9090

Ice.Default.Locator=DemoIceGrid/Locator:default -h 10.147.19.115 -p 4061


#
# Only listen on the localhost interface by default.
#

Sorter.Master.Endpoints=tcp -p 9099

Ice.Default.Host=10.147.19.115
Ice.ThreadPool.Server.Size=30

#       ICE STORM

#
# This property is used by the clients to connect to IceStorm.
#
TopicManager.Proxy=DemoIceStorm/TopicManager:default -h 10.147.19.115 -p 10000

#

# IceMX configuration.
#
#Ice.Admin.Endpoints=tcp -h localhost -p 10004
Ice.Admin.InstanceName=subscriber
IceMX.Metrics.Debug.GroupBy=id
IceMX.Metrics.ByParent.GroupBy=parent